@model MStrudel.Domain.Entities.Cart

<div>
	@if(@Model.Lines.Count() > 0)
	{
		var positionText = "позиц";
		var itemCount = Model.Lines.Sum(c => c.Quantity);

		switch(itemCount)
		{
			case 1:
				positionText += "ія";
				break;
			case 2:
			case 3:
			case 4:
				positionText += "ії";
				break;
			default:
				positionText += "ій";
				break;
		}
		@Html.RouteLink(string.Format("Ваш кошик: {0} {1} {2}", @Model.Lines.Sum(c => c.Quantity).ToString(), positionText, @Model.TotalValue().ToString("c")), 
			new { action = "Index", controller = "Cart", returnUrl = Request.Url.PathAndQuery }, 
			new { @class = "navbar-text navbar-right " })
	}
</div>