@model MStrudel.Domain.Entities.Order

@{
    ViewBag.Title = "Замовлення зареєстровано";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Дякуємо!</h2>
Дякуємо, що зареєстрували замовлення у нас!
В найближчий час з Вами зв'яжеться наш менеджер в доставки

